NEXT_PUBLIC_SUPABASE_URL=https://pmpfedjtvfdtkchxptrl.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBtcGZlZGp0dmZkdGtjaHhwdHJsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODYxODI3MTUsImV4cCI6MjEwMTc1ODcxNX0.gIpN59F1qnl4JZtMaY-4haaejrywbqoold2drC6n2-8